---
import Layout from "../layouts/Layout.astro"
---
<Layout> 
	<section class="w-xl h-96 backdrop-blur backdrop-saturate-200 bg-white/20 border border-white/10 rounded-xl flex flex-col justify-center items-center">
	</section>
	<span class="mt-2">number/total</span>
</Layout>