
<section class="w-xl h-96 backdrop-blur backdrop-saturate-200 bg-white/20 border border-white/10 rounded-xl flex flex-col justify-center items-center">
	<div class="flex justify-center items-center mb-4">
		<img src="/src/assets/logo-ts.svg" alt="logo typescript">
		<h1 class="text-white text-4xl text-balance font-bold tracking-widest ml-2 self-baseline-last">TypeScript Quizz</h1>
	</div>

	<div class="flex justify-center">
		<a class='rounded-2xl border-white h-10 w-28 text-white bg-blue-950/55 font-bold tracking-widest mt-9 cursor-pointer hover:bg-black/50 flex justify-center items-center' href='/quizz'>¡Start!</a>
	</div>
</section>