---
import { BASE_CONTAINER, CARD_CONTAINER } from "../const/CONST";
---
<section class={BASE_CONTAINER}>
	<div class={CARD_CONTAINER}>
	  <div class="flex-1 flex items-center justify-center py-8">
		<h2 class="text-center text-white font-extrabold text-2xl">404 not found</h2>
	  </div>
	  <div class="grid grid-cols-3 gap-2 items-center min-h-[60px] mt-4"></div>
	  <footer class="text-center min-h-[40px] flex items-center justify-center mt-2"></footer>
	</div>
  </section>