---
import { BASE_CONTAINER, CARD_CONTAINER } from "../const/CONST";
---

<section class={BASE_CONTAINER}>
	<div class={CARD_CONTAINER}>
	  <div class="flex-1 flex items-center justify-center py-8">
		<div class="text-white text-xl animate-pulse">Cargando preguntas...</div>
	  </div>
	  <div class="grid grid-cols-3 gap-2 items-center min-h-[60px] mt-4"></div>
	  <footer class="text-center min-h-[40px] flex items-center justify-center mt-2"></footer>
	</div>
  </section>