---

import './src/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="w-auto h-dvh bg-blue-500">
		<main class=" text-lg w-full grid place-content-center h-[80%]">
			<slot />
		</main>
		<footer class="ml-auto pr-3 pb-0 mt-2 flex justify-end h-auto w-full">
			<span class="text-8xl font-semibold text-white tracking-widest ">ts</span>
		</footer>
	</body>
</html>

